<!--Marked for Deletion-->
<form class="{{cssClass}} gifts-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Burden</span>
    </div>
    <div class="gift-row">
        <div class="gift-input">
            <span>Name</span>
            <input class="gift-category" name="name" type="text" value="{{item.name}}" />
        </div>
        <div class="gift-input">
            <span>Category</span>
            <input class="gift-category" name="system.category" type="text" value="{{system.category}}" />
        </div>
        <div class="gift-input">
            <span>Level</span>
            <input class="gift-level" name="system.level" type="text" value="{{system.level}}" />
        </div>
    </div>
    <div class="gift-editor">
        <span>Description</span>
        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=true}}
    </div>

    <!--Modifications-->
    <div class="sheet-title-h2 toggle-on-click" data-toggle="toggle" style="margin-top: 10px;">
        <span>Modifiers <i class="fas fa-angle-double-down"></i></span>
    </div>
    <div class="item-section">
        <div class="item-row" style="justify-content: space-around;">
            <div class="item-section ">
                <div class="sheet-title-h2" style="margin: 10px 0 0 0;">
                    <span>Physical Defense</span>
                </div>
                <div class="sn-mod">
                    <label name="" title='{{localize "DSTAT.PD"}}'>+ / - PD </label>
                    <input type="number" name="system.modifier.pd.value" value="{{system.modifier.pd.value}}" />
                </div>
            </div>
            <div class="item-section">
                <div class="sheet-title-h2" style="margin-top: 10px;">
                    <span>Initiative</span>
                </div>
                <div class="gb-mod">
                    <label name="system.modifier.init.value" title='{{localize "ITEM.DicePool"}}'>+ / - </label>
                    <input type="number" name="system.modifier.init.value" value="{{system.modifier.init.value}}" />
                </div>
            </div>

        </div>
        <div class="sheet-title-h2" style="margin-top: 10px;">
            <span>Stat Modification</span>
        </div>
        <div class="item-mods">
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.agility.statName}}">AGI
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.agility.value"
                    value="{{system.modifier.stat.agility.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.charisma.statName}}">CHA
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.charisma.value"
                    value="{{system.modifier.stat.charisma.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.endurance.statName}}">END
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.endurance.value"
                    value="{{system.modifier.stat.endurance.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.intelligence.statName}}">
                    INT</div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.intelligence.value"
                    value="{{system.modifier.stat.intelligence.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.perception.statName}}">PER
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.perception.value"
                    value="{{system.modifier.stat.perception.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.spirit.statName}}">SPI
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.spirit.value"
                    value="{{system.modifier.stat.spirit.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.strength.statName}}">STR
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.strength.value"
                    value="{{system.modifier.stat.strength.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.wisdom.statName}}">WIS
                </div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.wisdom.value"
                    value="{{system.modifier.stat.wisdom.value}}" />
            </div>
            <div class="item-stat-mod">
                <div class="item-stat-mod-label" title="{{localize system.modifier.stat.will.statName}}">WLL</div>
                <input class="item-stat-mod-value" type="number" name="system.modifier.stat.will.value"
                    value="{{system.modifier.stat.will.value}}" />
            </div>
        </div>
    </div>

    <div class="item-sections">
        <div class="item-section">
            <div class="sheet-title-h2" style="margin-top: 10px;">
                <span>Success Number</span>
            </div>
            <div class="pd-mod">
                <label name="system.modifier.sn.value">+ / - SN </label>
                <select name="system.modifier.sn.value" value="{{system.modifier.sn.value}}">
                    {{selectOptions config.modifierSN selected=system.modifier.sn.value}}
                </select>
                <select class="pd-stat" name="system.modifier.sn.skill" value="{{system.modifier.sn.skill}}">
                    {{selectOptions config.dropdownSkills selected=system.modifier.sn.skill blank="None" localize=true}}
                </select>
            </div>
            <div class="pd-mod">
                <label name="system.modifier.sn1.value">+ / - SN </label>
                <select name="system.modifier.sn1.value">
                    {{selectOptions config.modifierSN selected=system.modifier.sn1.value}}
                </select>
                <select class="pd-stat" name="system.modifier.sn1.skill">
                    {{selectOptions config.dropdownSkills selected=system.modifier.sn1.skill blank="None" localize=true}}
                </select>
            </div>
            <div class="pd-mod">
                <label name="system.modifier.sn2.value">+ / - SN </label>
                <select name="system.modifier.sn2.value" value="{{system.modifier.sn2.value}}">
                    {{selectOptions config.modifierSN selected=system.modifier.sn2.value}}
                </select>
                <select class="pd-stat" name="system.modifier.sn2.skill">
                    {{selectOptions config.dropdownSkills selected=system.modifier.sn2.skill blank="None" localize=true}}
                </select>
            </div>
        </div>
    </div>
</form>
