<div class="gifts-page">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Burdens</span>
    </div>

    <ul class="bio-col items">
      {{#each actor.items.documentsByType.burden as |burden|}}
        <li class="item gift-item" data-item-id={{burden.id}}>
            <div class="bio-row">
                <div class="gift-input">
                    <span>Name</span>
                    <div class="input-readonly">
                        <span>{{{burden.name}}}</span>
                    </div>
                </div>
                <div class="gift-input">
                    <span>Category</span>
                    <div class="input-readonly">
                        <span>{{{burden.system.category}}}</span>
                    </div>
                </div>
                <div class="gift-level-input">
                    <span>Level</span>
                    <div class="input-readonly-num">
                        <span>{{{burden.system.level}}}</span>
                    </div>
                </div>
                <div class="item-controls flexrow gift-controls gift-input">
                    <span>Edit</span>
                    <a class="item-control item-edit" data-tooltip="ITEM.EditItem">
                      <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="item-controls flexrow gift-controls gift-input">
                    <span>Delete</span>
                    <a class="item-control item-delete" data-tooltip="ITEM.DeleteItem">
                      <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="gift-editor">
                <span>Description</span>
                <div class="gift-editor-text">
                    {{{burden.system.notes}}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    <div class="sheet-title-h2" style="margin-top: 10px;">
        <span>Add a Burden </span>
        <a class="item-control item-create" data-type="burden" data-tooltip="ITEM.CreateBurden">
          <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
